.btn-purple,
.btn-purple:hover,
.btn-purple:active,
.btn-purple:visited,
.btn-purple:focus {
    background-color: mediumslateblue;
    border-color: mediumslateblue;
    color: white;
}

#results_div {
    font-family: 'Courier New', Courier, monospace !important;
}
.title {
    font-weight: bold;
    color: blue;
}
.bold {
    font-weight: bold;
}
.error-text {
    color: #DC3545 !important;
}
.success-text {
    color: #28a745 !important;
}